body {
  background-color: rgb(35, 44, 84); 
  color: white;  
  
  a {
  color: white;
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

div.solutions-title {
  /* does nothing here: */
  /* width: 100%; */
  text-align: center;
  margin-bottom: 20px;
  
  h3 {
    color: #ddd0f7;
  }
  p {
    color: #868ba3;
  }
}
  

div.solutions {
  padding: 20px;
  /* no flexbox */
  /* display: flex;           */
  /* flex-wrap: wrap;           */
  gap: 20px;            

  .solution-item {
    box-sizing: border-box;
    /* no flexbox */
    /* flex: 1 1 calc(25% - 15px);  */
    background-color: rgb(19, 22, 49);
    padding: 10px;
    border-radius: 8px;
  
    p {
      color: #868ba3;
    }
  }
}
